.todoItem{
    display: flex;
    cursor: pointer;
    border-bottom: 1px dashed #ddd;
    line-height: 2.5;
    padding-left: 15px;
}
.remove{
    color:royalblue;
    opacity: 0;
    font-weight: bold;
    margin-right: 10px;
}
.todoItem:hover .remove{
    opacity: 1;
}
.checked{
    color:#aaa;
    text-decoration:line-through;
}
